* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;

    justify-content: center;
    margin-bottom: 20px;
}

.game-phase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 1px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}


/* PC SECTION */
@media (min-width : 991px) {
    header {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
  
    main {
        justify-content: space-evenly;
        padding-top: 10px;
    }

    .game-phase {
        width: 40%;
    }
}
